:root {
    --colorPrincipal: #FE2963;
    --colorSecundario: #02252F;
}

html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}


.imagenes {
    align-items: center;
    display: block;


}

#text-white {
    color: red;
}

.centrar {
    text-align: center;
}

.text {
    text-transform: uppercase;
    /*color: rgba(70,70, 70, 0.9);*/
}

.cuadrados {
    color: white;
    font-weight: 400;
    background-color: var(--colorPrincipal);
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    display: inline-block !important;
    margin-top: 1.5rem !important;
    border-radius: 6px;
    font-size: 14px;
    min-width: 220px;
    text-align: center;
    text-decoration: none;


}

.boton-info {

    color: white;
    background-color: var(--colorPrincipal);
    justify-content: center;
    display: inline-block;
    border: 1px solid transparent;
    padding: 0.4rem 0.78rem;
    line-height: 1.5;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    box-sizing: border-box;
    white-space: nowrap;
    text-transform: uppercase !important;

}

.boton-info:hover {
    background-color: #1795a8 !important;
}

.color_pink {
    color: var(--colorPrincipal);
}

.color_azul_obcuro {
    color: var(--colorSecundario);
}
.nav-Principal {
    display: flex;
    flex-direction: row;
    background-color: var(white);
    justify-content:space-around

}
.nav-secundario {
    display: flex;
    flex-direction: row;
    background-color: var(white);
    justify-content: space-around;

}

#menu-responsive {
    margin-top: 15px;
    width: 40px;
    float: right;
}
    .contenedor {

        width: 111rem;
        padding-top: 10%;
    }

@media(min-width:768px) {
    .contenedor {

        width: 70rem;
        padding-top: 10%;
    }
}
@media(max-width:480px) {
    .contenedor {
        list-style: none;
        width: 40rem;
        padding-top: 10%;
        display: flex;
        flex-direction: column;

    }
}
.banner-top {
    background-image:url(../img/Banner-home.png);
    background-position: top left;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 180px;
}
/*@media(min-width:768px) {
    body {
        background-color: var(--colorPrincipal);
    }
}*/